<img src="http://cvltnationbizarre.com/images/logos/14/BIZlogo_300_7679-gq.jpg" class="shop_logo" alt="" />

<h2 style="color:white;">Albums: </h2>
  <h3 style="color:white">Click on the album name to view artist information</h3>

<form action="/artists" method="get">
  <button class = "button" type="submit" formaction="/artists">View All Artists</button>
</form>

<form action="/albums" method="post">
  <input class="input" type="text" name="percent" placeholder="Enter % to reduce" required>
  <button class="button" type="submit">Apply Sale prices</button>
</form>

<table class="info_table" style="width:100%">
  <tr>
    <th>Title </th>
    <th>Artist </th>
    <th>Stock Level</th>
    <th>Stock</th>
    <th>Buy Price (£)</th>
    <th>Sell Price (£) - prices showing at <%= @sale.percent %>%</th>
    <th>Edit Album</th>
    <th>Delete Album</th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td><a href="/artists/<%= album.artist_id %> "><%= album.title %></a></td>
    <td><%= album.artist.name %></td>
    <td><%= album.stock_level %></td>
    <td><%= album.quantity %></td>
    <td><%= album.buy_price %></td>
    <td><%= (((album.sell_price + album.buy_price) * @sale.percent) / 100).round(2) %></td>
    <td><form action="/albums/<%= album.id %>/edit" method="get">
      <button class = "delete_button" type="submit" formaction="/albums/<%= album.id %>/edit">Edit Album Information</button>
    </form></td>
    <td><form method="post" action="<%= album.id %>">
    <input type="hidden" name="_method" value="delete">
    <button class="delete_button">Delete Album</button>
  </form></td>
</tr>
  <% album.update() %>
  <% end %>

  <tr>
    <td colspan="3" style="color:white;">Total Stock</td>
    <td><%= Album.total_stock %></td>
  </tr>
</table>
