<h2 style="color:white;"><%= @artist.name %></h2>

<img src= "<%=@artist.logo%>" class="band_logo" alt="" />

<div class="button_layout">
  <form action="/artists/<%= @artist.id %>/edit" method="get">
    <button class = "button" type="submit" formaction="/artists/<%= @artist.id %>/edit">Edit Artist Information</button>
  </form>

  <form method="post" action="/artists/<%= @artist.id %>">
  <input class="inline" type="hidden" name="_method" value="delete">
  <button class="button">Delete Artist</button>
  </form>
</div>

<form action="/artists/<%= @artist.id %>" method="post">
  <input class="input" type="text" name="percent" placeholder="Enter % to reduce">
  <input type="hidden" name="id" id="artist-field" value="<%= @artist.id %>"/>
  <button class="button" type="submit">Apply Sale prices</button>

  <table style="width:100%">
    <tr>
      <th>Apply Sale Price</th>
      <th>Title </th>
      <th>Quantity </th>
      <th>Stock Level</th>
      <th>Buy Price (£)</th>
      <th>Sell Price (£) / Price adjustment for sale %</th>
      <th>Edit Album</th>
      <th>Delete Album</th>
    </tr>
        <% id = 1 %>
      <% @artist_albums = @artist.albums() %>
      <% @artist_albums.each do |album| %>

    <tr>
      <td><input type="checkbox" name="<%= id %>" value="<%=album.id%>"/></td>
        <% id = id.to_i + 1 %>
</form>
      <td><%= album.title %></td>
      <td><%= album.quantity %></td>
      <td><%= album.stock_level %></td>
      <td><%= sprintf('%.2f', album.buy_price) %></td>
      <td><%= sprintf('%.2f', album.adjust_price) %></br></br><%= album.mark_up_percent %></td>
      <td><form action="/albums/<%= album.id %>/edit" method="get">
        <button class = "delete_button" type="submit" formaction="/albums/<%= album.id %>/edit">Edit Album Information</button>
      </form></td>
      <td><form method="post" action="/<%= album.id %>">
      <input type="hidden" name="_method" value="delete">
      <button class="delete_button">Delete Album</button>
    </form></td>
    </tr>
      <% end %>
  </table>

<div class="show_artist_buttons">

  <form action="/albums" method="get">
    <button class = "button" type="submit" formaction="/albums">Back to Albums</button>
  </form>

  <form action="/artists" method="get">
    <button class = "button" type="submit" formaction="/artists">Back to Artists</button>
  </form>

  <form action="/artists/<%= @artist.id %>/albums/new" method="get">
    <button class = "button" type="submit" formaction="/artists/<%= @artist.id %>/albums/new">Add New Album</button>
  </form>
</div>
