<img class="black_background" src="http://spliffmobile.com/ultra-hd-wallpapers/video-game-wallpapers/images/hd-wallpapers-banner.png"></img>

<img src="http://cvltnationbizarre.com/images/logos/14/BIZlogo_300_7679-gq.jpg" class="shop_logo" alt="" />


<h2 style="color:white;">Artists: </h2>
  <h3 style="color:white">Click on the artist name to view album information</h3>

  <form action="/albums" method="get">
    <button class = "button" type="submit" formaction="/albums">View All Albums</button>
  </form>

  <form action="/artists/new" method="get">
    <button class = "button" type="submit" formaction="/artists/new">Add a New Artist</button>
  </form>

    <table style="width:100%">
      <tr>
        <th><form action="/artists" method="get">
          <input type="hidden" name="order" value="artist"/>
          <button class = "table_button" type="submit" formaction="/artists">Band Name</button>
        </form></th>
        <th><form action="/artists" method="get">
          <input type="hidden" name="order" value="genre"/>
          <button class = "table_button" type="submit" formaction="/artists">Genre</button>
        </form></th>
        <th><form action="/artists" method="get">
          <input type="hidden" name="order" value="stock"/>
          <button class = "table_button" type="submit" formaction="/artists">Total Stock</button>
        </form></th>
      </tr>
        <% @artists.each do |artist| %>
      <tr>
        <td><img src= "<%=artist.logo%>" class="band_logo_small" alt="" /><a href="/artists/<%= artist.id %> "><%= artist.name %></a></td>
        <td><%= artist.genre %></td>
        <td><%= Album.albums_per_artist(artist.id) %></td>
      </tr>
        <% end %>
        <tr>
          <td colspan="2" style="color:white;">Total Stock</td>
          <td><%= Album.total_stock %></td>
        </tr>
  </table>
