<form method="post" action="/albums/<%= @album.id %>">
  <input type="hidden" name="_method" value="put">

<p></br></br></br></p>

<h2 style="color:white">Please input new details update the <%= @album.artist.name %> album</h2>

  <div class="field-group">
    <label for="Artist-field" class="label"></label>
    <div class="field">
      <input
        type="hidden"
        name="artist_id"
        id="artist-field"
        value="<%= @album.artist_id %>"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="Artist-field" class="label"></label>
    <div class="field">
      <input
        type="hidden"
        name="sale_id"
        id="artist-field"
        value="<%= @album.sale_id %>"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="title-field" class="label">Album Title:</label>
    <div class="field">
      <input
        type="text"
        name="title"
        id="title-field"
        placeholder="Album Title"
        value="<%= @album.title %>"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="buy_price-field" class="label">Buy Price (£):</label>
    <div class="field">
      <input
        type="text"
        name="buy_price"
        id="buy_price-field"
        placeholder="Buy Price"
          value="<%= @album.buy_price %>"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="sell_price-field" class="label">Mark-up Price (£):</label>
    <div class="field">
      <input
        type="text"
        name="mark_up"
        id="sell_price-field"
        placeholder="Sell Price"
        value="<%= @album.mark_up %>"
        required
      />
   </div>
  </div>

  <div class = "field-group">
    <label for="quantity-selection" class="label">Quantity:</label>
    <div class ="field">
      <select name="quantity" id="quantity-selection">
        <% [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,
          12, 13, 14, 15, 16, 17, 18, 19, 20].each do |number| %>
            <option
            <%= "selected" if @album.quantity == number %>>
            <%= number %></option>
          <% end %>
      </select>
    </div>
  </div>

  <button class="big-button button">Confirm Edits</button>
</form>
